<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-fixed navbar-inverse" role="navigation">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><a href="#" routerLink="/product" title="product" >Product</a></li>
      <li><a href="#" routerLink="/settings" title="settings" >Settings</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
  <!-- <stt-settings></stt-settings>
  <stt-product-detail></stt-product-detail> -->
</div>

